<html>
	<head>
		<title>{{title}}</title>
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css'></link>
	</head>
	<body>
    <div class='container'>
      <h1>Koddy's Acme Store</h1>
    </div>
    <ul class='nav nav-tabs' style='margin-bottom: 10px'>
      <li {% if !category %} class='active' {% endif %}>
        <a href='/'>Home</a>
      </li>
      {% for _category in categories %}
        <li {% if category === _category %} class='active' {% endif %}>
          <a href='/categories/{{_category}}'>
            {{ _category }}
          </a>
        </li>
      {% endfor %}
    </ul>

    <div class='container'>

      {% block main%}


      {% endblock %}
    </div>
        

	</body>
</html>
